@import url('https://fonts.googleapis.com/css2?family=Carme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
body{
    background-image: url(no.jpg);

    background-size: auto;
}
.form{
    display: flex;
    border-radius: 20px;
    width: 450px;
    height: 690px;
    flex-direction: column;
    background:transparent;
    box-shadow:  0px 10px 10px 5px rgb(255, 255, 255);
    margin-left: 450px;
    
    

}
.check{
    font-family: 'Roboto Condensed', sans-serif;
        width: 150px;
        height: 40px;
        border: 5px rgb(0, 238, 255) solid;
        background-color:white;
        color:tomato;
        border-radius: 30px;
        margin-left: 90px;
        font-weight: bold;
        font-size: 20px;
        cursor: pointer;
        outline: none;
        
    
}
.check:hover{
    box-shadow: 5px 5px rgb(175, 175, 175);
    width: 153px;
    height: 42px;
    border: 5px rgb(255, 153, 0) solid;
    transition: ease;
}
h1{
    font-family: 'Rampart One', cursive;
    font-weight: bold;
    margin-left: 10px;
    color: #2d56fc;

}

label{
    font-family:'Carme', sans-serif;
    margin-left: 10px;
    font-size: 2000;
    color: rgb(0, 0, 0);

}
#max-gpa , #min-gpa , #GPA , #ECTS{
    display: flex;
    width: 300px;
    height: 40px;
    font-size: 20px;
    font-family: 'Carme', sans-serif;
    border: 1px rgb(0, 238, 255) solid;
    outline: none;
    border-radius: 20px;
    background-color:rgb(255, 255, 255);
    margin-left: 10px;
    text-align: center;
}
#ECTS{
    border: 1px black solid;
    border-radius: 10px;
    height: 45px;
    width: 200px;
    justify-content: center;
    background-color:rgb(244, 245, 248);
    padding-left: 4px;
    padding-top: 3px;
    margin-left: 50px;
    font-size: 4000;
    font-size: 29px;
    text-align: center;
    color:rgb(255, 94, 0);
    
}
@media screen and (max-width:910px) {
    .form{
        margin-left: 5px;
        width: 350px;
    }
    
}
